In [28]:
import numpy as np 
import pandas as pd 
import warnings

from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [39]:
''' reading data '''
df = pd.read_csv('marketing_campaign.csv', delimiter=';')

In [40]:
''' displaying first 5 rows '''
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [41]:
''' shape of data '''
df.shape

(2240, 29)

In [42]:
''' checking null values '''
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [43]:
''' removing Z_CostContact, Z_Revenue '''
df.drop(['Z_CostContact', 'Z_Revenue'], axis=1, inplace=True)

In [44]:
''' converting Dt_Customer to datetime'''
df.Dt_Customer = pd.to_datetime(df['Dt_Customer'])

''' extracing month '''
df['Dt_Customer_Month'] = df['Dt_Customer'].dt.to_period("M")

df['acc_age'] = (pd.to_datetime("2014-12").year - df['Dt_Customer_Month'].dt.year)*12 + (pd.to_datetime("2014-12").month - df['Dt_Customer_Month'].dt.month)

In [45]:
''' dropping Dt_Customer_year_month and Dt_Customer columns '''
df.drop(['Dt_Customer_Month', 'Dt_Customer'], axis=1, inplace=True)

In [46]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age
0,5524,1957,Graduation,Single,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1,27
1,2174,1954,Graduation,Single,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,0,9
2,4141,1965,Graduation,Together,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,0,16
3,6182,1984,Graduation,Together,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,0,10
4,5324,1981,PhD,Married,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,0,11

In [47]:
''' create customer age '''
df['Age'] = 2014 - df["Year_Birth"]

''' dropping Year_Birth column '''
df.drop(['Year_Birth'], axis=1, inplace=True)

In [48]:
''' describing data '''
df.describe()

,ID,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age,Age
count,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000
mean,5592.159821,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,0.149107,17.195089,45.194196
std,3246.662198,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.356274,6.639904,11.984069
min,0.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,18.000000
25%,2828.250000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,37.000000
50%,5458.500000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,44.000000
75%,8427.750000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,55.000000
max,11191.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,29.000000,121.000000

In [49]:
''' filling null value with mean in Income '''
df['Income'] = df['Income'].fillna(df.Income.mean(), axis = 0)

In [50]:
''' checking correlation '''
df.corr()

,ID,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age,Age
ID,1.000000,0.013036,0.002406,-0.002580,-0.046524,-0.022878,0.004600,-0.004437,-0.024475,-0.007642,-0.013438,-0.037166,-0.018924,-0.003440,-0.014927,-0.007446,-0.036040,-0.025387,-0.007517,-0.021614,-0.015061,0.033883,-0.021968,-0.001554,-0.000028
Income,0.013036,1.000000,-0.425176,0.019018,-0.003946,0.576789,0.428747,0.577802,0.437497,0.436162,0.321978,-0.082290,0.380550,0.586725,0.526489,-0.549824,-0.016168,0.182791,0.334850,0.274921,0.087538,-0.027223,0.132756,-0.019852,0.160942
Kidhome,0.002406,-0.425176,1.000000,-0.036133,0.008827,-0.496297,-0.372581,-0.437129,-0.387644,-0.370673,-0.349595,0.221798,-0.361647,-0.502237,-0.499683,0.447846,0.014674,-0.161600,-0.205634,-0.172339,-0.081716,0.040207,-0.080008,-0.053611,-0.230176
Teenhome,-0.002580,0.019018,-0.036133,1.000000,0.016198,0.004846,-0.176764,-0.261160,-0.204187,-0.162475,-0.021725,0.387741,0.155500,-0.110769,0.050695,0.134884,-0.042677,0.038886,-0.191050,-0.140090,-0.015605,0.003138,-0.154446,0.017636,0.352111
Recency,-0.046524,-0.003946,0.008827,0.016198,1.000000,0.016064,-0.004306,0.023056,0.001079,0.022670,0.016693,-0.001098,-0.010726,0.025110,0.000799,-0.021445,-0.032991,0.018826,0.000129,-0.019283,-0.001781,0.013231,-0.198437,0.024897,0.019871
MntWines,-0.022878,0.576789,-0.496297,0.004846,0.016064,1.000000,0.389637,0.562667,0.399753,0.386581,0.387516,0.010940,0.542265,0.635226,0.642100,-0.320653,0.062202,0.373286,0.472613,0.354133,0.205907,-0.039007,0.247254,0.166528,0.157773
MntFruits,0.004600,0.428747,-0.372581,-0.176764,-0.004306,0.389637,1.000000,0.543105,0.594804,0.567164,0.392995,-0.132114,0.296735,0.487917,0.461758,-0.418383,0.014727,0.010152,0.215833,0.194748,-0.009773,-0.005166,0.125289,0.066266,0.017917
MntMeatProducts,-0.004437,0.577802,-0.437129,-0.261160,0.023056,0.562667,0.543105,1.000000,0.568402,0.523846,0.350609,-0.122415,0.293761,0.723827,0.479659,-0.539470,0.018272,0.102912,0.373769,0.309761,0.043033,-0.023483,0.236335,0.092375,0.030872
MntFishProducts,-0.024475,0.437497,-0.387644,-0.204187,0.001079,0.399753,0.594804,0.568402,1.000000,0.579870,0.422875,-0.139361,0.293681,0.534478,0.459855,-0.446003,0.000357,0.016843,0.199578,0.260762,0.002577,-0.020953,0.111331,0.080270,0.041625
MntSweetProducts,-0.007642,0.436162,-0.370673,-0.162475,0.022670,0.386581,0.567164,0.523846,0.579870,1.000000,0.369724,-0.120100,0.348544,0.490924,0.448756,-0.423294,0.001530,0.028641,0.259590,0.241818,0.009985,-0.022485,0.117372,0.081657,0.018133
MntGoldProds,-0.013438,0.321978,-0.349595,-0.021725,0.016693,0.387516,0.392995,0.350609,0.422875,0.369724,1.000000,0.049085,0.421836,0.437697,0.381678,-0.250719,0.123091,0.022268,0.181021,0.166396,0.049990,-0.030861,0.139850,0.159956,0.061818
NumDealsPurchases,-0.037166,-0.082290,0.221798,0.387741,-0.001098,0.010940,-0.132114,-0.122415,-0.139361,-0.120100,0.049085,1.000000,0.234185,-0.008617,0.068879,0.347633,-0.023109,0.015594,-0.183248,-0.123244,-0.037695,0.000420,0.002238,0.218407,0.060846
NumWebPurchases,-0.018924,0.380550,-0.361647,0.155500,-0.010726,0.542265,0.296735,0.293761,0.293681,0.348544,0.421836,0.234185,1.000000,0.378376,0.502713,-0.055846,0.042176,0.155903,0.138684,0.155143,0.034188,-0.016310,0.148730,0.192565,0.145040
NumCatalogPurchases,-0.003440,0.586725,-0.502237,-0.110769,0.025110,0.635226,0.487917,0.723827,0.534478,0.490924,0.437697,-0.008617,0.378376,1.000000,0.518738,-0.520364,0.104730,0.139247,0.322321,0.308097,0.099852,-0.020453,0.220810,0.095282,0.121275
NumStorePurchases,-0.014927,0.526489,-0.499683,0.050695,0.000799,0.642100,0.461758,0.479659,0.459855,0.448756,0.381678,0.068879,0.502713,0.518738,1.000000,-0.428473,-0.067577,0.179379,0.214790,0.183249,0.085189,-0.016524,0.039363,0.110688,0.128272
NumWebVisitsMonth,-0.007446,-0.549824,0.447846,0.134884,-0.021445,-0.320653,-0.418383,-0.539470,-0.446003,-0.423294,-0.250719,0.347633,-0.055846,-0.520364,-0.428473,1.000000,0.061211,-0.032126,-0.278113,-0.192502,-0.007196,0.019769,-0.003987,0.273883,-0.121139
AcceptedCmp3,-0.036040,-0.016168,0.014674,-0.042677,-0.032991,0.062202,0.014727,0.018272,0.000357,0.001530,0.123091,-0.023109,0.042176,0.104730,-0.067577,0.061211,1.000000,-0.079512,0.080316,0.094751,0.072020,0.008415,0.254258,-0.007715,-0.061774
AcceptedCmp4,-0.025387,0.182791,-0.161600,0.038886,0.018826,0.373286,0.010152,0.102912,0.016843,0.028641,0.022268,0.015594,0.155903,0.139247,0.179379,-0.032126,-0.079512,1.000000,0.306526,0.251300,0.292210,-0.027611,0.177019,0.018541,0.060510
AcceptedCmp5,-0.007517,0.334850,-0.205634,-0.191050,0.000129,0.472613,0.215833,0.373769,0.199578,0.259590,0.181021,-0.183248,0.138684,0.322321,0.214790,-0.278113,0.080316,0.306526,1.000000,0.403078,0.221533,-0.009419,0.326634,-0.006938,-0.007123
AcceptedCmp1,-0.021614,0.274921,-0.172339,-0.140090,-0.019283,0.354133,0.194748,0.309761,0.260762,0.241818,0.166396,-0.123244,0.155143,0.308097,0.183249,-0.192502,0.094751,0.251300,0.403078,1.000000,0.175315,-0.025499,0.293982,-0.039509,0.005930
AcceptedCmp2,-0.015061,0.087538,-0.081716,-0.015605,-0.001781,0.205907,-0.009773,0.043033,0.002577,0.009985,0.049990,-0.037695,0.034188,0.099852,0.085189,-0.007196,0.072020,0.292210,0.221533,0.175315,1.000000,-0.011334,0.169293,0.007107,0.006539
Complain,0.033883,-0.027223,0.040207,0.003138,0.013231,-0.039007,-0.005166,-0.023483,-0.020953,-0.022485,-0.030861,0.000420,-0.016310,-0.020453,-0.016524,0.019769,0.008415,-0.027611,-0.009419,-0.025499,-0.011334,1.000000,-0.001707,0.032730,0.030128
Response,-0.021968,0.132756,-0.080008,-0.154446,-0.198437,0.247254,0.125289,0.236335,0.111331,0.117372,0.139850,0.002238,0.148730,0.220810,0.039363,-0.003987,0.254258,0.177019,0.326634,0.293982,0.169293,-0.001707,1.000000,0.194433,-0.021325
acc_age,-0.001554,-0.019852,-0.053611,0.017636,0.024897,0.166528,0.066266,0.092375,0.080270,0.081657,0.159956,0.218407,0.192565,0.095282,0.110688,0.273883,-0.007715,0.018541,-0.006938,-0.039509,0.007107,0.032730,0.194433,1.000000,-0.022142
Age,-0.000028,0.160942,-0.230176,0.352111,0.019871,0.157773,0.017917,0.030872,0.041625,0.018133,0.061818,0.060846,0.145040,0.121275,0.128272,-0.121139,-0.061774,0.060510,-0.007123,0.005930,0.006539,0.030128,-0.021325,-0.022142,1.000000

In [51]:
''' doing one-hot encoding in Education '''
one_hot = OneHotEncoder(handle_unknown='ignore')
one_hot_edu_df = pd.DataFrame(one_hot.fit_transform(df[['Education']]).toarray())

''' joining df and one_hot_edu_df '''
df = df.join(one_hot_edu_df)

In [52]:
df.head()

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age,Age,0,1,2,3,4
0,5524,Graduation,Single,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1,27,57,0.0,0.0,1.0,0.0,0.0
1,2174,Graduation,Single,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,0,9,60,0.0,0.0,1.0,0.0,0.0
2,4141,Graduation,Together,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,0,16,49,0.0,0.0,1.0,0.0,0.0
3,6182,Graduation,Together,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,0,10,30,0.0,0.0,1.0,0.0,0.0
4,5324,PhD,Married,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,0,11,33,0.0,0.0,0.0,0.0,1.0

In [53]:
''' unique categories in marital_status '''
df.Marital_Status.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [54]:
''' doing label encoding in marital_status '''
ms_label = {value: key for key, value in enumerate(df.Marital_Status.unique())}
df.Marital_Status = df.Marital_Status.map(ms_label)

In [55]:
df.head()

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age,Age,0,1,2,3,4
0,5524,Graduation,0,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1,27,57,0.0,0.0,1.0,0.0,0.0
1,2174,Graduation,0,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,0,9,60,0.0,0.0,1.0,0.0,0.0
2,4141,Graduation,1,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,0,16,49,0.0,0.0,1.0,0.0,0.0
3,6182,Graduation,1,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,0,10,30,0.0,0.0,1.0,0.0,0.0
4,5324,PhD,2,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,0,11,33,0.0,0.0,0.0,0.0,1.0

In [56]:
''' doing label encoding in education  '''
edu_label = {value: key for key, value in enumerate(df.Education.unique())}
df.Education = df.Education.map(edu_label)

In [57]:
df.head()

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age,Age,0,1,2,3,4
0,5524,0,0,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1,27,57,0.0,0.0,1.0,0.0,0.0
1,2174,0,0,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,0,9,60,0.0,0.0,1.0,0.0,0.0
2,4141,0,1,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,0,16,49,0.0,0.0,1.0,0.0,0.0
3,6182,0,1,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,0,10,30,0.0,0.0,1.0,0.0,0.0
4,5324,1,2,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,0,11,33,0.0,0.0,0.0,0.0,1.0

In [58]:
df["total_Mnt"] = df["MntWines"] + df["MntFruits"] + df["MntMeatProducts"]+ df['MntFishProducts'] + df["MntSweetProducts"] + df["MntGoldProds"]

df['MntWines_pct'] = df['MntWines'] / df['total_Mnt']
df['MntFruits_pct'] = df["MntFruits"] / df['total_Mnt']
df["MntMeatProducts_pct"] = df["MntMeatProducts"] / df['total_Mnt']
df["MntFishProducts_pct"] = df["MntFishProducts"] / df['total_Mnt']
df["MntSweetProducts_pct"] = df["MntSweetProducts"] / df['total_Mnt']
df["MntGoldProds_pct"] = df["MntGoldProds"] / df['total_Mnt']

In [59]:
df.head()

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,acc_age,Age,0,1,2,3,4,total_Mnt,MntWines_pct,MntFruits_pct,MntMeatProducts_pct,MntFishProducts_pct,MntSweetProducts_pct,MntGoldProds_pct
0,5524,0,0,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,1,27,57,0.0,0.0,1.0,0.0,0.0,1617,0.392703,0.054422,0.337662,0.106370,0.054422,0.054422
1,2174,0,0,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,0,9,60,0.0,0.0,1.0,0.0,0.0,27,0.407407,0.037037,0.222222,0.074074,0.037037,0.222222
2,4141,0,1,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,0,16,49,0.0,0.0,1.0,0.0,0.0,776,0.548969,0.063144,0.163660,0.143041,0.027062,0.054124
3,6182,0,1,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,0,10,30,0.0,0.0,1.0,0.0,0.0,53,0.207547,0.075472,0.377358,0.188679,0.056604,0.094340
4,5324,1,2,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,0,11,33,0.0,0.0,0.0,0.0,1.0,422,0.409953,0.101896,0.279621,0.109005,0.063981,0.035545